 
》2009.12.25

* 历史数据存在的问题：

一、字段定义问题：
1.数量不一致：1988年22个字段，2009年74个字段。相应地，还可能有字段名称发生变化的情况。
2.长度不一致：如CYHA198812.DBF中，SJBRQ长度为6，CYHA200909.DBF中，SJBRQ长度为8。
3.类型不一致：相同字段有的DBF中是日期类型，有的DBF中是字符串类型。

二、字段内容问题：
1.空白：如CYHA199612.DBF中，XQKMC从545行以后空白。
2.乱码：如CYHA200909.DBF中，SGDW, HGYY, HAYY等字段。
3.生成：部分字段数据在迁移中生成，如：水井测试工艺、年月。 
4.错误：如CYHA198812.DBF中，SJBRQ应为日期数据，但有的内容是：返工、实验等字符串。
       如CYHA199012.DBF中，DM(队名),KM(矿名)有的记录内容是1、3、6等。

三、影响及解决办法：
1.增加了数据迁移的难度和工作量，并对数据平台系统正常运行造成影响。
2.如检泵施工井查询页面中，查询条件矿名选项中有：1或2或3，就是历史数据内容错误造成的。
3.在迁移脚本中尽可能处理解决。有的问题无法处理，如字段数量不一致，相应的字段内容就没有。


》2009.12.26 
抽油泵回收验证单问题：
1.井号要求大写。
2.数值小数点前面应有0.（应给字符串加上引号）


》2009.12.29 
系统效率：单井？
1.kb字段“试验”——>“试验大队” 
2.数字部分“.0**”——>“0.0**” 抽油泵回收验证单（不用动）
3.字段cybbm为空，没导。


* 年累计检泵井：CYHA t_yjsgjl 井下工具字段：增加：

泵类别 BLB VARCHAR2(30)
油管锚 YGM VARCHAR2(30)
脱接器 TJQ VARCHAR2(30)
筛管 SG VARCHAR2(30)
不压井工具 BYJGJ VARCHAR2(30)
井口 JK VARCHAR2(30)
光杆 GG VARCHAR2(30)
其它工具1 QTGJ1 VARCHAR2(30)
其它工具2 QTGJ2 VARCHAR2(30)
其它工具3 QTGJ3 VARCHAR2(30)
其它工具4 QTGJ4 VARCHAR2(30)

ALTER TABLE t_yjsgjl ADD COLUMN 
BLB VARCHAR2(30),
YGM VARCHAR2(30),
TJQ VARCHAR2(30),
SG VARCHAR2(30),
BYJGJ VARCHAR2(30),
JK VARCHAR2(30),
GG VARCHAR2(30),
QTGJ1 VARCHAR2(30),
QTGJ2 VARCHAR2(30),
QTGJ3 VARCHAR2(30),
QTGJ4 VARCHAR2(30)


* 年累计检泵井增加字段及如何填写：

CYHA -> v_njbwh 

DBF:BZ1..4 -> v_njbwh:JXGJ1..4 

> 填“泵类别”字段 ：BLB 
UPDATE v_njbwh SET BLB=BLB||' '||JXGJ1 WHERE INSTR(JXGJ1,'泵')>0 AND JXGJ1<>'泵内扶正器' 
UPDATE v_njbwh SET BLB=BLB||' '||JXGJ2 WHERE INSTR(JXGJ2,'泵')>0 AND JXGJ2<>'泵内扶正器' 


* 李姐提出的历史数据问题

一．以下都是油井措施查询的
1.lryf字段的格式都是为：200909
2.字段“采油方式”空的怎么导入，要询问杨博华，弄清楚前冲次为什么没有数据。
3.油井调参的“措施类别”没有数据
4.年累计检泵——井下工具字段没导，要甄别。
5.上抽井——施工类别都是“新井下泵”，施工原因：抽油机为“新井下油杆泵”、螺杆泵为“新井下螺杆泵”等。
6.录入月份为“进机日期”。
7.小区块名称为“小区块代码”
8.以后油井措施查询导入的都为最后一个月的数据。

二．抽油泵回收验证单字段（历史数据导入）
1.在原有的字段的基础上，加入三个字段，活塞上漏失量—hsslsl，活塞中漏失量—hszlsl，活塞下漏失量—hsxlsl。
